/* Universal Styles */

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: seashell;;
}

h2 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size:32px;
}

h4 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 24px;
}

.cards img{
  width: 300px;
  height: 200px;
}

/* Universal Styles Sections */

.image-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 300px; */
  margin-top: 15px;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

/* Sizing */

.spacer {
  max-width: 1200px;
  margin: 20px 20px;
}

.individual{
  margin: 10px 10px;
}



/* ----------Header------------ */

header {
  display:flex ;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;

}

.logo img {
  height: 50px;
  margin-right: 12px;
}

header nav {
  padding-right: 40px;
}

.underline{
  text-decoration: underline;
}

/* Main Content Container */

.content {
  display: flex;
  width: 1200px;

  border: 3px dotted white
}

.column {
  display: flex;
  flex-direction: column;

}

/* Mission Section */

.column.mission{
  width: 100% ;
  border: 3px solid yellow;
}

.mission .image-content{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
}

.mission-text.content{
  background-color: black;
  flex-direction: column;
}

/*Tea of the Month  */

.column.tea{
  width: 100% ;
  border: 3px solid blue;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-Content: space-evenly;

}




/* Locations  */

.column.locations{
  width: 100% ;
  border: 3px solid green;
}




/* Contact */

.column.contact{
  width: 100% ;
  border: 3px solid pink;
}


/* Footer */
